.icon-selector-wrapper {
  flex: 1;
  background: var(--ui-white-transparent);
  overflow-y: auto;
  height: 100%;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: calc(var(--space) / 2);
  padding-bottom: var(--space);
  overflow-x: hidden;
}

.icon-item {
  box-sizing: border-box;
  width: calc((100% / var(--icon-per-row)) - var(--space));
  max-width: 6rem;
  min-width: 4rem;
  min-height: 4rem;
  margin: calc(var(--space) / 2);
}
