[submodule "editors/mpyblocks"]
	path = editors/mpyblocks
	url = https://github.com/BlockCodeLab/gui-mpyblocks.git
[submodule "editors/tankwar"]
	path = editors/tankwar
	url = https://github.com/BlockCodeLab/gui-tankwar.git
[submodule "editors/matrix"]
	path = editors/matrix
	url = https://github.com/BlockCodeLab/gui-matrix.git
